html {
    border-left: 5px solid lightgray;
}

body {
    min-height: 100%;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
}

header, main, footer {
    padding: 1rem 2rem;
}

h1 {
    color: tomato;
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

img {
    width: 100%;
}


.head-style, .foot-style, ul{
    list-style-type: none;
    color: lightgray;
}

.head-style {
    display: flex;
    flex-direction: row;
}


.foot-style, ul {
    display: flex;
    flex-direction: row;
}

.foot-style, ul a {
    display: flex;
    flex-direction: row;
    color: tomato;
}

.cont {
    display: flex;
    justify-content: end;
    font-weight: bold;
    color: tomato;
}

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

p::first-letter {
    text-transform: lowercase;
    color: lightgray;
}

h3 {
    color: lightgray;
}